@import 'https://slyd.netlify.com/bundle.css';

.slide-no {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: inline-grid;
  place-items: center;
  width: 2em;
  height: 2em;
  font-size: 2.5vmax;
  border-radius: 50%;
  color: var(--text-color-2);
  border: 1px solid var(--text-color-3);
}

video {
  &:focus:not(:focus-visible) { 
    outline: none;
  }

  &[fit-height] {
    height: 100%;
  }
}

[two-up-video-right] {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 100vh;
  gap: 3vmax;
}

.icon {
  fill: var(--text-color-2);
  width: 3em;
}

[down-arrow] {
  animation: float 2s ease-in-out infinite;
  fill: var(--brand-color-3);
  margin-bottom:  2.5vmax;
  margin-left: 5em;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(.5rem);
  }
}